/* home.css */
#as{
    font-family: 'Caladea';
    margin-left: 20px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/026/307/268/original/cool-plain-blue-abstract-background-hd-wallpaper-design-free-vector.jpg");
}
.container{
    background-image: url("https://t3.ftcdn.net/jpg/00/86/56/12/360_F_86561234_8HJdzg2iBlPap18K38mbyetKfdw1oNrm.jpg");
}
